<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_user">
    <title>Ecommerce-login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div th:fragment="header_user">
    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="template_user.html">Home</a>
        </div>
    </nav>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
        </div>
    </div>
</div>

<div th:fragment="footer_user">
    <footer class="footer py-3 bg-info">
        <div class="container">
            <p class="m-0 text-center text-white"> Curso LP Copyright &copy; Jald 2023</p>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        </div>
    </footer>
</div>

</body>

<style>
    .body {
        position: relative;
    }

    .footer {
        position: absolute;
        bottom: 0px;
        height: 60px;
        width: 100%;
    }
</style>

</html>